body{
    background-color: rgb(54, 53, 53);
    color: white;
    margin: 4rem 4rem;
}
h3{
    font-size: 1.5rem;
}

div{
    display: flex;
    gap: 1rem;
}
button{
    margin: 3rem 0;
    font-size: 1.5rem;

}
a{
    margin-right: 1rem;
}
p{
    font-size: 1.5rem;
}